In [1]:
import pandas as pd
import numpy as np
from collections import Counter
import networkx as nx
import random
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore", category=UserWarning)
import folium
#import geojson
#import geopandas
#import mplleaflet
import json

In [2]:
data = pd.read_csv("../Data/T_T100D_SEGMENT_US_CARRIER_ONLY_2013_All.csv",delimiter=",")

In [3]:
data[data['ORIGIN'] == 'PHN']

Empty DataFrame
Columns: [DEPARTURES_SCHEDULED, DEPARTURES_PERFORMED, PAYLOAD, SEATS, PASSENGERS, FREIGHT, MAIL, DISTANCE, RAMP_TO_RAMP, AIR_TIME, UNIQUE_CARRIER, AIRLINE_ID, UNIQUE_CARRIER_NAME, UNIQUE_CARRIER_ENTITY, REGION, CARRIER, CARRIER_NAME, CARRIER_GROUP, CARRIER_GROUP_NEW, ORIGIN_AIRPORT_ID, ORIGIN_AIRPORT_SEQ_ID, ORIGIN_CITY_MARKET_ID, ORIGIN, ORIGIN_CITY_NAME, ORIGIN_STATE_ABR, ORIGIN_STATE_FIPS, ORIGIN_STATE_NM, ORIGIN_WAC, DEST_AIRPORT_ID, DEST_AIRPORT_SEQ_ID, DEST_CITY_MARKET_ID, DEST, DEST_CITY_NAME, DEST_STATE_ABR, DEST_STATE_FIPS, DEST_STATE_NM, DEST_WAC, AIRCRAFT_GROUP, AIRCRAFT_TYPE, AIRCRAFT_CONFIG, YEAR, QUARTER, MONTH, DISTANCE_GROUP, CLASS, EMPTYFIELD]
Index: []

[0 rows x 46 columns]

In [4]:
airport_names_origin = pd.read_csv("../Data/L_AIRPORT_ID.txt",delimiter=",")

In [5]:
data.columns

Index(['DEPARTURES_SCHEDULED', 'DEPARTURES_PERFORMED', 'PAYLOAD', 'SEATS',
       'PASSENGERS', 'FREIGHT', 'MAIL', 'DISTANCE', 'RAMP_TO_RAMP', 'AIR_TIME',
       'UNIQUE_CARRIER', 'AIRLINE_ID', 'UNIQUE_CARRIER_NAME',
       'UNIQUE_CARRIER_ENTITY', 'REGION', 'CARRIER', 'CARRIER_NAME',
       'CARRIER_GROUP', 'CARRIER_GROUP_NEW', 'ORIGIN_AIRPORT_ID',
       'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN_CITY_MARKET_ID', 'ORIGIN',
       'ORIGIN_CITY_NAME', 'ORIGIN_STATE_ABR', 'ORIGIN_STATE_FIPS',
       'ORIGIN_STATE_NM', 'ORIGIN_WAC', 'DEST_AIRPORT_ID',
       'DEST_AIRPORT_SEQ_ID', 'DEST_CITY_MARKET_ID', 'DEST', 'DEST_CITY_NAME',
       'DEST_STATE_ABR', 'DEST_STATE_FIPS', 'DEST_STATE_NM', 'DEST_WAC',
       'AIRCRAFT_GROUP', 'AIRCRAFT_TYPE', 'AIRCRAFT_CONFIG', 'YEAR', 'QUARTER',
       'MONTH', 'DISTANCE_GROUP', 'CLASS', 'EMPTYFIELD'],
      dtype='object')

In [6]:
data = data[data['ORIGIN'] != data['DEST']]

In [7]:
grouped = data.groupby(["ORIGIN","DEST"]).agg({"PAYLOAD":"sum","DISTANCE":"mean","SEATS":"sum","PASSENGERS":"sum","DEPARTURES_PERFORMED":"sum",'CARRIER_NAME':'unique',"ORIGIN_AIRPORT_ID": "mean", "DEST_AIRPORT_ID": "mean"}).reset_index()

In [8]:
grouped

,ORIGIN,DEST,PAYLOAD,DISTANCE,SEATS,PASSENGERS,DEPARTURES_PERFORMED,CARRIER_NAME,ORIGIN_AIRPORT_ID,DEST_AIRPORT_ID
0,03A,OME,39200.0,147.0,0.0,0.0,7.0,[Arctic Transportation],10003,13873
1,03A,OTZ,1275.0,102.0,0.0,0.0,1.0,[Arctic Transportation],10003,13970
2,04A,OTZ,22400.0,84.0,0.0,0.0,4.0,[Arctic Transportation],10004,13970
3,05A,CXF,11954.0,58.0,45.0,12.0,5.0,[Tatonduk Outfitters Limited d/b/a Everts Air ...,10005,11214
4,05A,FAI,485589.0,191.0,831.0,148.0,118.0,[Tatonduk Outfitters Limited d/b/a Everts Air ...,10005,11630
...,...,...,...,...,...,...,...,...,...,...
21938,ZXN,WFB,130885.0,19.0,651.0,344.0,116.0,"[Pacific Airways, Inc.]",16346,15741
21939,ZXU,ACK,26640.0,74.0,44.0,8.0,6.0,[Tradewind Aviation],16353,10154
21940,ZXU,BTV,3450.0,217.0,8.0,2.0,1.0,[Tradewind Aviation],16353,10785
21941,ZXU,LBB,2000.0,1745.0,8.0,1.0,1.0,[Avjet Corporation],16353,12896
21942,ZXU,TEB,11040.0,147.0,36.0,8.0,4.0,[Tradewind Aviation],16353,15167

In [9]:
len(grouped["ORIGIN"].unique())

1121

In [10]:
#Merges the actual names of the airport on the id's of the airports
airport_names_origin = airport_names_origin.rename(columns= {"Code":"ORIGIN_AIRPORT_ID"})

grouped = grouped.merge(airport_names_origin, on = "ORIGIN_AIRPORT_ID")
grouped = grouped.rename(columns = {"Description":"ORIGIN_NAME"})
airport_names_origin =  airport_names_origin.rename(columns= {"ORIGIN_AIRPORT_ID":"DEST_AIRPORT_ID"})
grouped = grouped.merge(airport_names_origin, on = "DEST_AIRPORT_ID")
grouped = grouped.rename(columns = {"Description":"DEST_NAME"})

In [11]:
#This is how we merge the two lookup tables (the scapped and the original)

In [12]:
with open("../Data/abv_lookup_table.json", "r") as file:
    airport_lookup_table = json.load(file)

In [13]:
with open("../Data/more_airports.json", "r") as file:
    more = json.load(file)

In [14]:
airport_lookup_table = {**airport_lookup_table, **more}

In [15]:
airport_lookup_float = {k:[float(v[0]), float(v[1])] for k, v in airport_lookup_table.items()}

In [16]:
with open("../Data/total.json", "w") as fp:
    json.dump(airport_lookup_float, fp, sort_keys=True, indent=4)

In [17]:
grouped = grouped[grouped["ORIGIN"].isin(airport_lookup_table)]

In [18]:
#21534

In [19]:
grouped = grouped[grouped["DEST"].isin(airport_lookup_table)]

In [20]:
len(grouped["ORIGIN"].unique())

1003

In [21]:
edges = [(row['ORIGIN'], row['DEST'], {column:row[column] for column in grouped.columns}) for _, row in grouped.iterrows()]

In [22]:
G = nx.DiGraph()
G.add_edges_from(edges)

In [23]:
#plt.figure(figsize=(100, 100))
#nx.draw(G, with_labels=True,node_color = 'grey',node_size = 1000)

In [24]:
component1 = np.array(sorted(nx.strongly_connected_components(G), key=len, reverse=True))[0]

In [25]:
data_mask = (grouped['ORIGIN'].isin(component1) & (grouped["DEST"].isin(component1)))
grouped_filtered = grouped[data_mask]

In [26]:
grouped_filtered

,ORIGIN,DEST,PAYLOAD,DISTANCE,SEATS,PASSENGERS,DEPARTURES_PERFORMED,CARRIER_NAME,ORIGIN_AIRPORT_ID,DEST_AIRPORT_ID,ORIGIN_NAME,DEST_NAME
1,ABL,OME,10500.0,280.0,4.0,0.0,2.0,[Bering Air Inc.],10139,13873,"Ambler, AK: Ambler River","Nome, AK: Nome Airport"
2,AIN,OME,4500.0,448.0,19.0,0.0,1.0,[Hageland Aviation Service],10225,13873,"Wainwright, AK: Wainwright Airport","Nome, AK: Nome Airport"
3,ANC,OME,33729908.0,539.0,31762.0,20623.0,1133.0,"[Era Aviation, Alaska Airlines Inc., Tatonduk ...",10299,13873,"Anchorage, AK: Ted Stevens Anchorage Internati...","Nome, AK: Nome Airport"
4,ATK,OME,4500.0,463.0,19.0,0.0,1.0,[Hageland Aviation Service],10396,13873,"Atqasuk, AK: Atqasuk Edward Burnell Sr. Memorial","Nome, AK: Nome Airport"
5,AUK,OME,39300.0,129.0,26.0,7.0,9.0,"[Arctic Transportation, Bering Air Inc., Hagel...",10416,13873,"Alakanuk, AK: Alakanuk Airport","Nome, AK: Nome Airport"
...,...,...,...,...,...,...,...,...,...,...,...,...
21935,YIP,EOK,5600.0,428.0,0.0,0.0,1.0,[USA Jet Airlines Inc.],16091,11566,"Detroit, MI: Willow Run","Keokuk, IA: Keokuk Municipal"
21936,YIP,GCY,5600.0,419.0,0.0,0.0,1.0,[USA Jet Airlines Inc.],16091,11870,"Detroit, MI: Willow Run","Greeneville, TN: Municipal"
21938,YIP,MOP,5600.0,113.0,0.0,0.0,1.0,[USA Jet Airlines Inc.],16091,13429,"Detroit, MI: Willow Run","Mount Pleasant, MI: Mount Pleasant Municipal"
21939,YIP,MVN,43000.0,390.0,0.0,0.0,2.0,[USA Jet Airlines Inc.],16091,13537,"Detroit, MI: Willow Run","Mount Vernon, IL: Mount Vernon Airport"
21940,YIP,PSK,5600.0,383.0,0.0,0.0,1.0,[USA Jet Airlines Inc.],16091,14258,"Detroit, MI: Willow Run","Dublin, VA: New River Valley"

In [27]:
grouped_filtered[grouped_filtered["ORIGIN"] =="PGC"]

,ORIGIN,DEST,PAYLOAD,DISTANCE,SEATS,PASSENGERS,DEPARTURES_PERFORMED,CARRIER_NAME,ORIGIN_AIRPORT_ID,DEST_AIRPORT_ID,ORIGIN_NAME,DEST_NAME
11533,PGC,BVY,1320.0,497.0,4.0,1.0,1.0,[Tradewind Aviation],16524,10815,"Petersburg, WV: Grant County","Beverly, MA: Beverly Municipal"

In [28]:
grouped_filtered["ORIGIN"].replace({"XXU": "AHM"}, inplace=True)
grouped_filtered["DEST"].replace({"XXU": "AHM"}, inplace=True)

C:\Users\tjupp\Anaconda3\lib\site-packages\pandas\core\generic.py:6786: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [29]:
grouped_filtered.to_csv("../Data/final_cool_dataset.csv",index = False)